<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Resume</a></li>
		        	<li><a href="/about">About</a></li>
	        		<!--<li><a href="/cv">CV</a></li>-->
	        		<!--<li><a href="/blog">Blog</a></li>-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:alwien.dippenaar@hotmail.com">alwien.dippenaar@hotmail.com</a></li>
				<li><a href="tel:1-250-540-5648">+1 (250) 540-5648</a></li>
				<li><a href="https://github.com/alwiend" target="_blank">Github</a></li>
				<li><a href="https://www.linkedin.com/in/alwien-dippenaar/" target="_blank">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
